# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual env
venv/
env/

# Pytest
.coverage
.pytest_cache/
tests/.pytest_cache/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
